:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-bcg-color: rgba(47, 48, 58, 0.4);
  --pale-grey: #f5f4fa;
  /* --secondary-of-white: #f5f5f5; */
  --header-bottom-border-color: #ececec;
  --portfolio-projects-border-color: #eeeeee;
  --footer-bcg-color: #2F303A;
  --client-border-color: #AFB1B8;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-text-color);
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 3px solid tomato; */
}

/* LOGO */
.logo-link {
  display: flex;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
/* HEADER */
header {
  border-bottom: 1px solid var(--header-bottom-border-color);
}

.logo-link {
  color: var(--accent-color);
}

/* LOGO color change element */
header .studio {
  color: var(--title-text-color);
}

/* CONTACTS links */
.main-nav {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;

  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.email-link,
.telephone-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  line-height: 1.14;
}
.email-link::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 12px;
  /* background-color: red ;
  outline: 1px solid blue; */
background-image: url(../images/envelope.svg);
margin-right: 10px;
/* background-position: center; */


}

.telephone-link::before {
  display: inline-block;
  content: "";

  width: 10px;
  height: 16px;
  /* background-color: red ;
  outline: 1px solid blue; */
  background-image: url(../images/smartphone.svg);
  background-size: contain;
  margin-right: 10px;
  
}

/* BUTTONS */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-button {
  padding: 10px 34px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-text-color);
}

/* MAIN PAGE */

/* HERO */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--hero-bcg-color);
  background-image: url(../images/Img_hero.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* Section */
.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {padding-top: 0;}

.section.no-bottom-margin {margin-bottom: 0;}

.section.top-margin { margin-top: 94px;}

.section.bgc-off-white{ background-color: var(--secondary-of-white);}

.section-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.section-title.hide {
  display: none;
}

.feature-list {
  display: flex;
  gap: 30px;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 4px;
}

.icon-details::before {
  background-image: url(../images/antenna\ 1.svg);}
.punctuality-icon::before {
  background-image: url(../images/clock\ 1.svg);}
.planning-icon::before {
  background-image: url(../images/diagram\ 1.svg);}
.modern-icon::before {
  background-image: url(../images/astronaut\ 1.svg);}


/* activities */
.activities {
  display: flex;
  gap: 30px;
}

.activities-title {
  margin-bottom: 50px;
}

/* Team */
.team-section {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--pale-grey);
}
.team-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
 
}
.team-list .item {
  max-width: 270px;
  padding-bottom: 30px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}

.team-list p {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}
.team-socials {
  display: flex;
  height: 44px;
  width: 206px;
  
  margin: 16px 32px 0 32px;
  gap: 10px;
}
.team-socials .link {
  content: "";
  display: inline-block; 
  
  width: 44px;
  height: 44px;

  background-repeat: no-repeat;
  background-position: center;
  /* outline: 1px solid red; */
}

.inst {
  background-image: url(../images/instagram_gray.svg);}
.twi {
  background-image: url(../images/twitter_gray.svg);
}
.fb {
  background-image: url(../images/facebook_gray.svg);}
.lin {
      background-image: url(../images/linkedin_gray.svg);}

.client-list{
  display: flex;
  margin-top: 50px;

  justify-content: space-between;
}

.client-item {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--client-border-color);
  border-radius: 4px;
  /* outline: 1px solid orangered; */
}

.client-item .icon {
  display: block;
  width: 106px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;

  /* outline: 1px solid darkgreen; */
}

.client-1 {background-image: url(../images/Logo_1.svg);}
.client-2 {background-image: url(../images/Logo_2.svg);}
.client-3 {background-image: url(../images/Logo_3.svg);}
.client-4 {background-image: url(../images/Logo_4.svg);}
.client-5 {background-image: url(../images/Logo_5.svg);}
.client-6 {background-image: url(../images/Logo_6.svg);}
/* --- FOOTER --- */
.footer {
  background-color: var(--footer-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container{
  display: flex;
  flex-direction: row;
  padding-left: 0;
  /* outline: 1px solid yellow; */
}

.footer .contacts {
  display: flex;
  flex-direction: column;
  width: 231px;

  /* outline: 1px solid red; */
}

.footer .logo-link {
  display: block;
  height: 31px;
  margin-bottom: 20px;

}

footer .studio {
  color: var(--primary-white-color);
}

.address.link {
  display: block;
  font-style: normal;

  color: var(--primary-white-color);
  
}

.email.link,
.phone.link {
  display: block;
  margin-top: 9px;
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
}

.email.link:hover,
.phone.link:hover,
.email.link:focus,
.phone.link:focus {
  color: var(--accent-color);

}

.join {
  display: flex;
  flex-direction:column;
  height: 80px;
  width: 206px;
  margin-top: 12px;
  margin-left: 70px;
  /* outline: 1px solid purple; */
}
.join-title {
  display: block;
  /* height: 16px; */
  margin-top: 0;
  margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #FFFFFF;

}
.join-list {
  display: flex;
  
  width: 206px;
  height: 44px;
  gap: 10px;

  
}

.join-list .link {
  content: "";
  display: inline-block;

  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
background-color: rgba(255, 255, 255, 0.1);
  
  border-radius: 50%;


  /* outline: 1px solid red; */
}

.join .inst {
  background-image: url(../images/instagram_white.svg);
}

.join .twi {
  background-color: var(--accent-color);
  background-image: url(../images/twitter_white.svg);
}

.join .fb {
  background-image: url(../images/facebook_white.svg);
}

.join .lin {
  background-image: url(../images/linkedin_white.svg);
}

/* PORTFOLIO PAGE */

.filter-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
  width: 1170px;
}
.filter-list .button {
  padding: 6px 22px;

  border: solid 1px transparent;
}
.filter-list .item + .item {
  margin-left: 8px;
}
.filter .link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.project .link:hover,
.project .link:focus {
  color: var(--accent-color);
}

.project .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.project-info {
  display: block;
  padding: 20px 24px;
}
.project-info .description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  
  gap: 30px;
  padding: 0;
}

.projects .item {
  border-bottom: 1px solid var(--portfolio-projects-border-color);
}

.projects .item:nth-child(3n) {
  margin-right: 0;
}
.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
